<meta charset="UTF-8" />

<div class="row">
    <div class="col s12">
        <nav>
            <div class="nav-wrapper white">
                <div class="col s12">
                    <a href="#/" class="breadcrumb red-text font-bold">HOME</a>
                    <a class="breadcrumb red-text font-bold">CATEGORIAS</a>
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="row">

    <div class="col s6">
        <a class="btn red" href="#/category/insert">Nova Categoria</a>
    </div>
    <div class="col s6">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="categoria" type="text" ng-model="search">
            <label for="categoria">Procurar categoria</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
    
        <div class="card-panel hoverable grey lighten-5 z-depth-1" ng-repeat="category in categories | filter: search">
            <div class="row valign-wrapper">
                <div class="col s2">
                    <img materialboxed class="materialboxed responsive-img" ng-src="{{ category.imageUrl }}" width="200" alt="">
                </div>
                <div class="col s12">
                    <span class="title"><h5>{{ category.name }}</h5></span>
                    <p>{{ category.description }}</p>
                </div>
            </div>
            <div class="divider"></div>
            <br />
            <div style="text-align: right;">
	            <a class="waves-effect waves-light btn grey" ng-click="deleteCategory(category.id)"><i class="material-icons left">remove</i>Excluir</a>
	            <a class="waves-effect waves-light btn blue red" ng-href="#/category/edit/{{ category.urlName }}"><i class="material-icons left">edit</i>Editar</a>
            </div>
        </div>
        
    </div>
</div>