<meta charset="UTF-8" />
<h4 style="text-align: center">Configurações</h4>

<div class="divider"></div>

<br />

<ul collapsible data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_box</i>Parâmetros de Catalogação</div>
        <div class="collapsible-body">

            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nome</label>
                </div>
            </div>
            
            <div class="row">
                <div class="col s6 offset-s6" style="text-align: right">
                    <a href="#/" class="waves-effect waves-light btn grey">Cancelar</a>
                    <a class="waves-effect waves-light btn red">Salvar</a>
                </div>
            </div>
            
        </div>
    </li>
</ul>

<br />

<ul collapsible data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_box</i>Parâmetros de Categoria</div>
        <div class="collapsible-body">

            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nome</label>
                </div>
            </div>
            
            <div class="row">
                <div class="col s6 offset-s6" style="text-align: right">
                    <a href="#/" class="waves-effect waves-light btn grey">Cancelar</a>
                    <a class="waves-effect waves-light btn red">Salvar</a>
                </div>
            </div>
            
        </div>
    </li>
</ul>

<br />

<ul collapsible data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_box</i>Parâmetros do Sistema</div>
        <div class="collapsible-body">

            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nome</label>
                </div>
            </div>
            
            <div class="row">
                <div class="col s6 offset-s6" style="text-align: right">
                    <a href="#/" class="waves-effect waves-light btn grey">Cancelar</a>
                    <a class="waves-effect waves-light btn red">Salvar</a>
                </div>
            </div>
            
        </div>
    </li>
</ul>