<meta charset="UTF-8" />
<div class="row">
    <div class="col s12">
        <ul tabs>
            <li class="tab col s4"><a class="active" href="#pending">Pendentes</a></li>
            <li class="tab col s4"><a href="#refused">Rejeitados</a></li>
            <li class="tab col s4"><a href="#published">Publicados</a></li>
        </ul>
    </div>
    <div id="pending" class="col s12">
    	<div ng-include="'views/moderator/component/event/pendente.html'"></div>
    </div>
    <div id="refused" class="col s12">
    	<div ng-include="'views/moderator/component/event/rejeitado.html'"></div>
    </div>
    <div id="published" class="col s12">
    	<div ng-include="'views/moderator/component/event/publicado.html'"></div>
    </div>
</div>