<meta charset="UTF-8" />
<h4 style="text-align: center">Catalogação de Eventos</h4>

<div class="divider"></div>

<br />

<div class="row">
    <div class="col s12">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="first_name" type="text">
            <label for="first_name">Procure o evento</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
        	<h5>Status: Em Catalogação</h5>
            <div class="row valign-wrapper">
                <div class="col s8">
                    <img materialboxed class="materialboxed responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbK4KTbNtRe6Pu-c8h_y2CA-fyech2z_PVsiupWi9QeLoUQdisAA" alt="">
                </div>
                <div class="col s7">
                    <span class="title"><h5>Show do Martin Garrix</h5></span>
                    <p>Data do Evento 02/12/2017 as 20:00</p>
                    <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
                    <p>Valor: R$50,00</p>
                    <p>Estimativa: 70 Pessoas</p>
                </div>
            </div>
            <div class="divider"></div>
            <br />
            <div style="text-align: right;">
	            <a class="waves-effect waves-light btn red"><i class="material-icons left">remove</i>Reprovar</a>
	            <a class="waves-effect waves-light btn orange"><i class="material-icons left">check</i>Aceitar</a>
            </div>
        </div>
    </div>
</div>