<meta charset="UTF-8" />

<nav >
    <div class="nav-wrapper red">
        <div class="container">
            <a href="#/" class="brand-logo"><img style="margin-top: 15px" src="images/navlogo.png" alt="Logo"></a>
            <ul class="right hide-on-med-and-down">
                <li ng-if="login.company.moderator == true">
                    <a href="/moderator">
                        Moderator
                    </a>
                </li>
                <li>
                    <a class="btn red waves-effect waves-light" href="#" id="button-collapse" data-activates="slide-out" data-sidenav="left" data-menuwidth="300" data-closeonclick="false">
                        Menu
                    </a>
                </li>
            </ul>
            <a href="#" id="button-collapse" data-closeonclick="false" data-activates="slide-out" data-sidenav="left" data-menuwidth="300">
                <i class="material-icons">menu</i>
            </a>
        </div>
    </div>
</nav>

<ul id="slide-out" class="side-nav full">
    <ul collapsible collapsible-accordion>

        <a href="/"><li class="logo center-align">
        	<img style="margin-top: 15px" src="images/navlogo.png" alt="Logo">
        </li></a>

        <li class="bold active"><a href="#/" class="collapsible-header active waves-effect waves-red">Home</a></li>
        <li class="bold active"><a class="collapsible-header active wavess-effect waves-red">Eventos</a>
            <div class="collapsible-body" style="display: block;">
            <ul>
                <li><a href="#/event/insert">Novo Evento</a></li>
                <li><a href="#/event/list">Meus Eventos</a></li>
            </ul>
            </div>
        </li>
        <li class="bold"><a href="#/settings" class="collapsible-header active waves-effect waves-red">Configurações</a></li>
        <li ng-if="login.company.moderator == true" class="divider"></li>
        <li class="bold" ng-if="login.company.moderator == true">
	        <a href="/moderator" class="collapsible-header active waves-effect waves-red">
	       		Moderator
	        </a>
        </li>
        <li class="divider"></li>
        <li class="bold"><a href="" ng-click="logout()" class="collapsible-header active waves-effect waves-red">Sair</a></li>
    </ul>
</ul>


