<meta charset="UTF-8" />
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul class="right hide-on-med-and-down">
                <li><a href="#/">Home</a></li>
                <li>
                    <a class='dropdown-button orange btn' href='#/' data-activates='demoDropdown' dropdown>
                        Opções
                    </a>

                    <ul id='demoDropdown' class='dropdown-content'>
                        <li><a href="#/">Alterar Senha</a></li>
                        <li class="divider"></li>
                        <li><a href="#/">Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</div>