<meta charset="UTF-8" />
<div class="row">

	<br/>

	<div class="col s3" ng-repeat="category in categories | limitTo: 4">
		<a ng-href="#/category/{{ category.urlName }}">
			<div class="card-panel center-align hoverable red white-text font-bold">
				{{ category.name | uppercase }}
			</div>
		</a>
	</div>

	<!--<div class="col s12">
		<div ng-include="'views/index/component/bannerTopEventos.html'"></div>
	</div>-->
</div>

<div class="row">

	<div class="container input-field col s12">
		<i class="material-icons prefix">search</i>
		<input class="black-text" id="icon_prefix" ng-keyup="getEventsByWord()" ng-enter="getEventsByWord()" ng-model="search.word" placeholder="Onde você quer ir?" type="text" />
	</div>

</div>