<meta charset="UTF-8" />
<div class="row">

	<div class="col s3">
		<a href="#/category/Bar" style="color: white">
			<div class="card-panel center-align hoverable" style="background-color: #283E4A">
				Bar
			</div>
		</a>
	</div>
	
	<div class="col s3">
		<a href="#/category/Jogos" style="color: white">
			<div class="card-panel center-align hoverable" style="background-color: #283E4A">
				Jogos
			</div>
		</a>
	</div>
	
	<div class="col s3">
		<a href="#/category/Inaugurações" style="color: white">
			<div class="card-panel center-align hoverable" style="background-color: #283E4A">
				Inaugurações
			</div>
		</a>
	</div>
	
	<div class="col s3">
		<a href="#/category/Cursos" style="color: white">
			<div class="card-panel center-align hoverable" style="background-color: #283E4A">
				Cursos
			</div>
		</a>
	</div>

	<div class="col s12">
		<div ng-include="'views/index/component/bannerTopEventos.html'"></div>
	</div>
</div>
