<meta charset="UTF-8" />

<div class="row">

    <div class="col s12">

        <div class="card hoverable" ng-repeat="event in eventsBronze | limitTo: 10">
            <div class="card-image">
                <img ng-src="{{ event.imageUrl }}">
                <span class="card-title" style="background-color: #009DC1">
                    <h5>{{ event.title }}</h5> 
                </span>
            </div>
            <div class="card-content">
            	<p><h6>Data: {{ event.eventDate | date }}</h6></p>
            	<p><h6>Valor: R${{ event.price }}</h6></p>
                <p>Local: {{ event.local }}</p>
                <br />
				<p>{{ event.shortDescription }}</p>                
            </div>
            <div class="card-action" style="text-align: right;">
                <a class="waves-effect waves-light btn orange" ng-href="#/event/{{ event.urlTitle }}">Ver mais</a>
            </div>
        </div>

    </div>
</div>