<meta charset="UTF-8" />

<div class="row">

    <div class="col s12">

        <div class="card hoverable" ng-repeat="event in eventsBronze | limitTo: 10">
            <div class="card-image">
                <img materialboxed class="materialboxed responsive-img" alt="" ng-src="{{ event.imageUrl }}">
                <span class="card-title blue">
                    <h5 class="font-bold">{{ event.title }}</h5> 
                </span>
            </div>
            <div class="card-content">
		        <p>Publicado por <a ng-href="#/{{ event.company.nameUrl }}">{{ event.company.name }}</a></p>
		        <br />
		 	 	<p>Data: {{ event.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</p>
                <p ng-if="event.price > 0">Preço: R${{ event.price }}</p>
                <p ng-if="event.price == 0">Preço: DE GRAÇA</p>
		        <p>Local: {{ event.local }}</p>
		        <br />
				<p>{{ event.shortDescription }}</p>                
            </div>
            <div class="card-action" style="text-align: right;">
                <a class="waves-effect waves-light btn orange" ng-href="#/event/title/{{ event.urlTitle }}">Ver mais</a>
            </div>
        </div>

    </div>
</div>