<meta charset="UTF-8" />
<ul class="collection with-header">
    <li class="collection-header blue white-text"><h5 class="font-bold" style="text-align: center;">MAIS ESPERADOS</h5></li>
    <li class="collection-item">

        <div class="row">

            <div class="col s4" ng-repeat="event in eventsSilver | limitTo: 6">
	            <div class="card hoverable">
	                <div class="card-image waves-effect waves-block waves-light">
	                    <a ng-href="#/event/title/{{ event.urlTitle }}"><img class="activator responsive-img" ng-src="{{ event.imageUrl }}"></a>
	                </div>
	                <div class="card-content">
	                	<a class="card-title activator grey-text text-darken-4" ng-href="#/event/title/{{ event.urlTitle }}"><strong>{{ event.title }}</strong></a>
				        <p>Publicado por <a ng-href="#/{{ event.company.nameUrl }}">{{ event.company.name }}</a></p>
				 	 	<p>Data: {{ event.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</p>
						<p ng-if="event.price > 0">Preço: R${{ event.price }}</p>
						<p ng-if="event.price == 0">Preço: DE GRAÇA</p>
				        <p>Local: {{ event.local }}</p>
				        <br />
	                    <p style="text-align: right"><a class="waves-effect waves-light btn orange" ng-href="#/event/title/{{ event.urlTitle }}">Ver mais</a></p>
	                </div>
	            </div>
            </div>

        </div>

    </li>
</ul>