<meta charset="UTF-8" />
<ul class="collection with-header">
    <li class="collection-header" style="background-color: #009DC1"><h4 style="color: white; text-align: center">Eventos mais esperados</h4></li>
    <li class="collection-item">

        <div class="row">

            <div class="col s4">
	            <div class="card hoverable">
	                <div class="card-image waves-effect waves-block waves-light">
	                    <a href="#/event/nomedoevento"><img class="activator responsive-img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbK4KTbNtRe6Pu-c8h_y2CA-fyech2z_PVsiupWi9QeLoUQdisAA"></a>
	                </div>
	                <div class="card-content">
	                	<a class="card-title activator grey-text text-darken-4" href="#/event/nomedoevento"><strong>Show do Martin Garrix</strong></a>
       	  	 			<p><h6>Data: 02/12/2017 as 20:00</h6></p>
		            	<p><h6>Valor: R$20,00</h6></p>
		                <p>Local: Pavilhão Azul no Parque de exposição</p>
		                <br />
	                    <p><a class="waves-effect waves-light btn orange" href="#/event/nomedoevento">Ver mais</a></p>
	                </div>
	            </div>
            </div>
            
            <div class="col s4">
	            <div class="card hoverable">
	                <div class="card-image waves-effect waves-block waves-light">
	                    <a href="#/event/nomedoevento"><img class="activator responsive-img" src="http://shipit.resultadosdigitais.com.br/images/posts/tdc-logo-post.png"></a>
	                </div>
	                <div class="card-content">
	                	<a class="card-title activator grey-text text-darken-4" href="#/event/nomedoevento"><strong>The Developer's Conference</strong></a>
       	  	 			<p><h6>Data: 02/12/2017 as 20:00</h6></p>
		            	<p><h6>Valor: R$20,00</h6></p>
		                <p>Local: Pavilhão Azul no Parque de exposição</p>
		                <br />
	                    <p><a class="waves-effect waves-light btn orange" href="#/event/nomedoevento">Ver mais</a></p>
	                </div>
	            </div>
            </div>

            <div class="col s4">
	            <div class="card hoverable">
	                <div class="card-image waves-effect waves-block waves-light">
	                    <a href="#/event/nomedoevento"><img class="activator responsive-img" src="http://www.paulomarquesnoticias.com.br/informativos/ima_informativos/1399404153_46.jpg"></a>
	                </div>
	                <div class="card-content">
	                	<a class="card-title activator grey-text text-darken-4" href="#/event/nomedoevento"><strong>Balada The Nigth Glow</strong></a>
       	  	 			<p><h6>Data: 02/12/2017 as 20:00</h6></p>
		            	<p><h6>Valor: R$20,00</h6></p>
		                <p>Local: Pavilhão Azul no Parque de exposição</p>
		                <br />
	                    <p><a class="waves-effect waves-light btn orange" href="#/event/nomedoevento">Ver mais</a></p>
	                </div>
	            </div>
            </div>

        </div>

    </li>
</ul>
    
