<meta charset="UTF-8" />

<div class="card hoverable" ng-repeat="event in eventsSilver | limitTo: 3">
    <div class="card-image waves-effect waves-block waves-light">
        <a ng-href="#/event/title/{{ event.urlTitle }}"><img class="activator responsive-img" ng-src="{{ event.imageUrl }}"></a>
    </div>
    <div class="card-content">
        <a class="card-title activator grey-text text-darken-4" ng-href="#/event/title/{{ event.urlTitle }}"><strong>{{ event.title }}</strong></a>
        <p>Publicado por <a ng-href="#/{{ event.company.urlName }}">{{ event.company.name }}</a></p>
        <br />
 	 	<p>Data: {{ event.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</p>
        <p ng-if="event.price > 0">Preço: R${{ event.price }}</p>
        <p ng-if="event.price == 0">Preço: DE GRAÇA</p>
        <p>Local: {{ event.local }}</p>
        <br />
        <p style="text-align: right"><a class="waves-effect waves-light btn red" ng-href="#/event/title/{{ event.urlTitle }}">Ver mais</a></p>
    </div>
</div>