<meta charset="UTF-8" />

<div class="row font-bold">
    <div class="col s3">
        <a href="#/events" style="color: white">
            <div class="card-panel center-align hoverable red">
                EVENTOS
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/category/list" style="color: white">
            <div class="card-panel center-align hoverable red">
                CATEGORIAS
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/offers" style="color: white">
            <div class="card-panel center-align hoverable red">
                OFERTAS
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/settings" style="color: white">
            <div class="card-panel center-align hoverable red">
                CONFIGURAÇÕES
            </div>
        </a>
    </div>
</div>