<meta charset="UTF-8" />

<div class="row">
    <div class="col s3">
        <a href="#/events" style="color: white">
            <div class="card-panel center-align hoverable blue">
                Eventos
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/category/list" style="color: white">
            <div class="card-panel center-align hoverable blue">
                Categorias
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/offers" style="color: white">
            <div class="card-panel center-align hoverable blue">
                Ofertas
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/settings" style="color: white">
            <div class="card-panel center-align hoverable blue">
                Configurações
            </div>
        </a>
    </div>
</div>