<meta charset="UTF-8" />
<h4>Moderator</h4>

<div class="divider"></div>

<br />

<div class="row">
    <div class="col s3">
        <a href="#/events" style="color: white">
            <div class="card-panel center-align hoverable" style="background-color: #283E4A">
                Eventos
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/categories" style="color: white">
            <div class="card-panel center-align hoverable" style="background-color: #283E4A">
                Categorias
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/offers" style="color: white">
            <div class="card-panel center-align hoverable" style="background-color: #283E4A">
                Ofertas
            </div>
        </a>
    </div>
    <div class="col s3">
        <a href="#/settings" style="color: white">
            <div class="card-panel center-align hoverable" style="background-color: #283E4A">
                Configurações
            </div>
        </a>
    </div>
</div>