<h4>Configurações</h4>

<div class="divider"></div>

<br />

<ul collapsible data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_box</i>Informações Cadastrais</div>
        <div class="collapsible-body">

            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nome</label>
                </div>
                <div class="input-field col s6">
                    <form action="#">
                        <div class="file-field input-field">
                        <div class="btn orange">
                            <span><i class="material-icons">photo_camera</i></span>
                            <input type="file">
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text">
                        </div>
                        </div>
                        <img materialboxed class="materialboxed responsive-img" width="650" src="https://upload.wikimedia.org/wikipedia/commons/b/b4/Rock_in_Rio_-_Madrid_2012.jpg">
                    </form>
                </div>
                <div class="input-field col s6">
                    <div input-field>
                        <i class="material-icons prefix">phone</i>
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Celular</label>
                    </div>
                    <div input-field>
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Estado</label>
                    </div>
                    <div input-field>
                        <input id="first_name" type="text" class="validate">
                        <label for="first_name">Cidade</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Empresa</label>
                </div>
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Cargo na empresa</label>
                </div>
            </div>
            <div class="row">
                <div class="col s6 offset-s6" style="text-align: right">
                    <a href="#/" class="waves-effect waves-light btn grey">Cancelar</a>
                    <a class="waves-effect waves-light btn orange">Salvar</a>
                </div>
            </div>
            
        </div>
    </li>
</ul>

<br />

<ul collapsible data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">settings</i>Parâmetros</div>
        <div class="collapsible-body">
            
            

        </div>
    </li>
</ul>