<h4>Configurações</h4>

<div class="divider"></div>

<br />

<ul collapsible data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">account_box</i>Informações Cadastrais</div>
        <div class="collapsible-body">

            

        </div>
    </li>
</ul>

<br />

<ul collapsible data-collapsible="accordion">
    <li>
        <div class="collapsible-header"><i class="material-icons">settings</i>Parâmetros</div>
        <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
</ul>