<h4>Eventos</h4>

<div class="divider"></div>

<br />

<div class="row">

    <div class="col s6">
        <a class="btn orange" href="#/event/insert">Novo Evento</a>
    </div>

    <div class="col s6">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="first_name" type="text">
            <label for="first_name">Procure seu evento</label>
        </div>
    </div>
</div>

<div class="row">

    <div class="col s12">

        <div class="card hoverable">          
            <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbK4KTbNtRe6Pu-c8h_y2CA-fyech2z_PVsiupWi9QeLoUQdisAA">
                <span class="card-title" style="background-color: #009DC1">
                    Show do Martin Garrix
                </span>
                <a tooltipped class="btn-floating halfway-fab waves-effect waves-light red" data-position="left" data-tooltip="Deletar evento"><i class="material-icons">remove</i></a>
            </div>
            <div class="card-content">
                <p>"Venha curtir as melhores músicas eletronicas do mundo ao som de Martin Garrix."</p>
                <p>Data do Evento 02/12/2017 as 20:00</p>
                <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
            </div>
            <div class="card-action"  style="text-align: right">
                <a href="#/event/nomedoevento">Pré-visualizar</a>
                <a class="btn orange" href="#/event/nomedoevento">Editar</a>
            </div>
        </div>

        <div class="card hoverable">
            <div class="card-image">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwY8K_o8JHjHVfNGF7DhfWG7dnck0afSpNwBgYrIhN3FhPZtMS">
                <span class="card-title" style="background-color: #009DC1">
                    Show do Skrillex                   
                </span>
                <a tooltipped class="btn-floating halfway-fab waves-effect waves-light red" data-position="left" data-tooltip="Deletar evento"><i class="material-icons">remove</i></a>
            </div>
            <div class="card-content">
                <p>"Venha curtir as melhores músicas eletronicas do mundo ao som de Skrillex."</p>
                <p>Data do Evento 02/12/2017 as 20:00</p>
                <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
            </div>
            <div class="card-action"  style="text-align: right">
                <a href="#/event/nomedoevento">Pré-visualizar</a>
                <a class="btn orange" href="#/event/nomedoevento">Editar</a>
            </div>
        </div>

        <div class="card hoverable">
            <div class="card-image">
                <img src="http://shipit.resultadosdigitais.com.br/images/posts/tdc-logo-post.png">
                <span class="card-title" style="background-color: #009DC1">
                    The Developer's Conference
                </span>
                <a tooltipped class="btn-floating halfway-fab waves-effect waves-light red" data-position="left" data-tooltip="Deletar evento"><i class="material-icons">remove</i></a>
            </div>
            <div class="card-content">
                <p>"Venha participar da The Developer's Conference, temos 24 Trilhas com 10 paslestras e mais de 100 especialistas!"</p>
                <p>Data do Evento 01/01/2017 as 08:00</p>
                <p>Local do Evento Faculdade FCV</p>
            </div>
            <div class="card-action"  style="text-align: right">
                <a href="#/event/nomedoevento">Pré-visualizar</a>
                <a class="btn orange" href="#/event/nomedoevento">Editar</a>
            </div>
        </div>

        <div class="card hoverable">
            <div class="card-image">
                <img src="http://www.wcity.com/images/stories/fashion/ck_perf_slider.jpg">
                <span class="card-title" style="background-color: #009DC1">
                    Inauguração da Loja Calvin Klein
                </span> 
                <a tooltipped class="btn-floating halfway-fab waves-effect waves-light red" data-position="left" data-tooltip="Deletar evento"><i class="material-icons">remove</i></a>
            </div>
            <div class="card-content">
                <p>"Venha prestigiar a nossa inauguração no Avenida Center, descontos de até 20% em nossos produtos."</p>
                <p>Data do Evento 03/08/2017 as 08:00</p>
                <p>Local do Evento Shopping Avenida Center</p>
            </div>
            <div class="card-action"  style="text-align: right">
                <a href="#/event/nomedoevento">Pré-visualizar</a>
                <a class="btn orange" href="#/event/nomedoevento">Editar</a>
            </div>
        </div>

    </div>
</div>