<h4>Eventos</h4>

<div class="divider"></div>

<br />

<div class="row">
    <div class="col s6">
        <a class="btn orange" href="#/event/insert">Novo Evento</a>
    </div>
    <div class="col s6">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="first_name" type="text">
            <label for="first_name">Procure seu evento</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s8">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbK4KTbNtRe6Pu-c8h_y2CA-fyech2z_PVsiupWi9QeLoUQdisAA" alt="" class="responsive-img">
                </div>
                <div class="col s8">
                    <span class="title"><h5>Show do Martin Garrix</h5></span>
                    <p>Data do Evento 02/12/2017 as 20:00</p>
                    <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
                    <p>Valor: R$50,00</p>
                    <p>Estimativa: 70 Pessoas</p>
                </div>
                <div class="col s6 right-align">
                    <h6>Status: Em Catalogação</h6>
                    <br/>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light red" data-position="top" data-tooltip="Deletar evento">
                        <i class="material-icons">remove</i>
                    </a>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light blue" data-position="top" data-tooltip="Editar evento">
                        <i class="material-icons">edit</i>
                    </a>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light orange" data-position="top" data-tooltip="Visualizar evento">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 ">
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s8">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwY8K_o8JHjHVfNGF7DhfWG7dnck0afSpNwBgYrIhN3FhPZtMS" alt="" class="responsive-img">
                </div>
                <div class="col s8">
                    <span class="title"><h5>Show do Skrillex</h5></span>
                    <p>Data do Evento 02/12/2017 as 20:00</p>
                    <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
                    <p>Valor: R$50,00</p>
                    <p>Estimativa: 70 Pessoas</p>
                </div>
                <div class="col s6 right-align">
                    <h6>Status de Catalogação: Ativo</h6>
                    <br/>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light red" data-position="top" data-tooltip="Deletar evento">
                        <i class="material-icons">remove</i>
                    </a>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light blue" data-position="top" data-tooltip="Editar evento">
                        <i class="material-icons">edit</i>
                    </a>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light orange" data-position="top" data-tooltip="Visualizar evento">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 ">
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s8">
                    <img src="http://shipit.resultadosdigitais.com.br/images/posts/tdc-logo-post.png" alt="" class="responsive-img">
                </div>
                <div class="col s8">
                    <span class="title"><h5>The Developer's Conference</h5></span>
                    <p>Data do Evento 02/12/2017 as 20:00</p>
                    <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
                    <p>Valor: R$50,00</p>
                    <p>Estimativa: 70 Pessoas</p>
                </div>
                <div class="col s6 right-align">
                    <h6>Status de Catalogação: Ativo</h6>
                    <br/>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light red" data-position="top" data-tooltip="Deletar evento">
                        <i class="material-icons">remove</i>
                    </a>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light blue" data-position="top" data-tooltip="Editar evento">
                        <i class="material-icons">edit</i>
                    </a>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light orange" data-position="top" data-tooltip="Visualizar evento">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 ">
        <div class="card-panel hoverable grey lighten-5 z-depth-1">
            <div class="row valign-wrapper">
                <div class="col s8">
                    <img src="http://www.wcity.com/images/stories/fashion/ck_perf_slider.jpg" alt="" class="responsive-img">
                </div>
                <div class="col s8">
                    <span class="title"><h5>Inauguração da Loja Calvin Klein</h5></span>
                    <p>Data do Evento 02/12/2017 as 20:00</p>
                    <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
                    <p>Valor: R$50,00</p>
                    <p>Estimativa: 70 Pessoas</p>
                </div>
                <div class="col s6 right-align">
                    <h6>Status de Catalogação: Ativo</h6>
                    <br/>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light red" data-position="top" data-tooltip="Deletar evento">
                        <i class="material-icons">remove</i>
                    </a>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light blue" data-position="top" data-tooltip="Editar evento">
                        <i class="material-icons">edit</i>
                    </a>
                    <a tooltipped href="" class="btn-floating waves-effect waves-light orange" data-position="top" data-tooltip="Visualizar evento">
                        <i class="material-icons">visibility</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>