<meta charset="UTF-8" />
<div class="container">
    <div class="row">
    
    	<div class="col s12">

			<nav style="margin-top: 8px">
				<div class="nav-wrapper white">
			   		<div class="col s12">
			     	<a href="#/" class="breadcrumb red-text font-bold">HOME</a>
			     	<a class="breadcrumb red-text font-bold">OFERTAS</a>
			  		</div>
				</div>
			</nav>
			
			<ul class="collection with-header" style="margin-top: 10px">
			    <li class="collection-header red">
			        <h4 style="color: white; text-align: center">TURBINE SEUS EVENTOS</h4>
			    </li>
			    <li class="collection-item">
			
			        <div class="row">
			            <div class="col s12 m4">
			            <div class="icon-block">
			                <h2 class="center light-red-text"><i class="material-icons">flash_on</i></h2>
			                <h5 class="center font-bold">TURBO BRONZE</h5>
			                <p class="light">Os eventos aparecerão no site ao longo da semana.</p>
			                <p>Por apenas <a href="#/">R$19,90</a></p>
			            </div>
			            </div>
			
			            <div class="col s12 m4">
			            <div class="icon-block">
			                <h2 class="center light-red-text"><i class="material-icons">group</i></h2>
			                <h5 class="center font-bold">TURBO SILVER</h5>
			                <p class="light">Os eventos aparecerão no site ao longo do dia.</p>
			                <p>Por apenas <a href="#/">R$25,90</a></p>
			            </div>
			            </div>
			
			            <div class="col s12 m4">
			            <div class="icon-block">
			                <h2 class="center light-red-text"><i class="material-icons">settings</i></h2>
			                <h5 class="center font-bold">TURBO GOLD</h5>
			                <p class="light">Os eventos aparecem no site todo a todo tempo e são apresentados nos banners.</p>
			                <p>Por apenas <a href="#/">R$50,00</a></p>
			            </div>
			            </div>
			        </div>
			    </li>
			</ul>
	
		</div>						
	</div>						
</div>