<meta charset="UTF-8" />
<div class="container">
    <div class="row">

        <div class="col s8">

     	    <nav style="margin-top: 10px">
		    	<div class="nav-wrapper">
	        		<div class="col s12">
			        	<a href="#/" class="breadcrumb">Home</a>
			        	<a href="" class="breadcrumb">Meu Perfil</a>
		      		</div>
		    	</div>
		    </nav>

			<h5>O link para divulgação da sua página é <a ng-href="/#/{{ login.company.nameUrl }}">www.queroevento.com/{{ login.company.nameUrl }}</a></h5>

	        <div class="card hoverable" ng-repeat="event in myEvents">
	            <div class="card-image">
	                <img ng-src="{{ event.imageUrl }}">
	                <span class="card-title" style="background-color: #009DC1">
	                    <h5>{{ event.title }}</h5> 
	                </span>
	            </div>
	            <div class="card-content">
	            	<p><h6>Data: {{ event.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</h6></p>
                    <p ng-if="event.price > 0">Preço: R${{ event.price }}</p>
                    <p ng-if="event.price == 0">Preço: DE GRAÇA</p>
	                <p>Local: {{ event.local }}</p>
	                <br />
					<p>{{ event.shortDescription }}</p>                
	            </div>
	            <div class="card-action" style="text-align: right;">
	                <a class="waves-effect waves-light btn orange" ng-href="#/event/title/{{ event.urlTitle }}">Ver mais</a>
	            </div>
	        </div>

        </div>

        <div class="col s4">
        
         	<div class="card" style="background-color: #283E4B">
                <div class="card-content white-text">
                	<img ng-if="login.company.imageUrl != null" class="responsive-img" ng-src="{{ login.company.imageUrl }}">
                    <span class="card-title"><h5>{{ login.company.name }}</h5></span>
                    <p ng-if="login.company.phoneNumber != null">Celular: {{ login.company.phoneNumber }}</p>
	            	<p ng-if="login.company.cellPhoneNumber != null">Telefone: {{ login.company.cellPhoneNumber }}</p>
	                <p ng-if="login.company.contactEmail != null">Email: {{ login.company.contactEmail }}</p>
	                <br ng-if="eventsByCompany > 1">
	                <p ng-if="eventsByCompany > 1">{{ eventsByCompany.length }} Publicações</p>
                </div>
             	<div class="card-action" style="text-align: right;">
	                <a class="waves-effect waves-light btn orange" ng-href="#/settings">Editar Perfil</a>
	            </div>
            </div>         	

        </div>
    </div>
</div>

<div ng-include="'views/index/footer.html'"></div>