<meta charset="UTF-8" />
<br/>
<div class="row">
    <div class="col s12">
        <div class="input-field col s12">
            <i class="material-icons prefix">search</i>
            <input id="first_name" type="text">
            <label for="first_name">Procure o evento</label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
    
        <div class="card-panel hoverable grey lighten-5 z-depth-1" ng-repeat="event in publishedEvents">
        	<h4 style="text-align: center">{{ event.title }}</h4>
            <div class="row">
                <div class="col s8">
                    <img materialboxed class="materialboxed responsive-img" width="300" ng-src="{{ event.imageUrl }}" alt="">
                </div>
                <div class="col s7">
                	<p>Status de catalogação: {{ event.catalogStatus }}</p>
                	<p>Status: {{ event.status }}</p>
                    <p>Data: {{ event.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</p>                    
                    <p>Preço: {{ event.price }}</p>
                    <p>Local: {{ event.local }}</p>
                    <p>Cidade: {{ event.city }}</p>
                    <p>Estado: {{ event.state }}</p>
                    <br />
                    <p>Categoria: {{ event.category.name }}</p>
                    <p>Palavra Chave: {{ event.keyword }}</p>
                    <p>Quantidade estimada de pessoas: {{ event.peopleEstimate }}</p>
                    <br />
					<p>Descrição Curta</p>
                    <p>{{ event.shortDescription }}</p>
                    <br />
                    <p>Descrição Detalhada</p>
                    <p>{{ event.completeDescription }}</p>
                    <br />
                    <p>Empresa</p>
                    <p><a ng-href="/#/{{ event.company.nameUrl }}">{{ event.company.name }}</a></p>
                    <p ng-if="event.showPhoneNumber == true">Celular: {{ event.company.cellPhoneNumber }}</p>
                    <p ng-if="event.showPhoneNumber == true">Telefone: {{ event.company.phoneNumber }}</p>
                    <p ng-if="event.showEmail == true">Email: {{ event.company.contactEmail }}</p>
                </div>
            </div>
            <div class="divider"></div>
            <br />
            <div style="text-align: right;">
	            <a class="waves-effect waves-light btn red" ng-click="putCatalogStatus(event.id, 'REFUSED')"><i class="material-icons left">remove</i>Reprovar</a>
	            <a class="waves-effect waves-light btn red" ng-click="putCatalogStatus(event.id, 'PUBLISHED')"><i class="material-icons left">check</i>Aceitar</a>
            </div>
        </div>
        
    </div>
</div>