<meta charset="UTF-8" />
<div class="container">
    <div class="row">

        <div class="col s8">

     	    <nav style="margin-top: 8px">
		    	<div class="nav-wrapper white">
	        		<div class="col s12">
			        	<a href="#/" class="breadcrumb red-text font-bold">HOME</a>
			        	<a class="breadcrumb red-text font-bold">BUSCA</a>
		      		</div>
		    	</div>
		    </nav>

	        <div class="card hoverable" ng-repeat="event in eventsByWord">
	            <div class="card-image">
	                <img materialboxed class="materialboxed responsive-img" alt="" ng-src="{{ event.imageUrl }}">
	                <span class="card-title red">
	                    <h5 class="font-bold">{{ event.title }}</h5> 
	                </span>
	            </div>
	            <div class="card-content">
	            	<p>Publicado por <a ng-href="#/{{ event.company.nameUrl }}">{{ event.company.name }}</a></p>
                    <br />
                    <p>Data: {{ event.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</p>
                    <p ng-if="event.price > 0">Preço: R${{ event.price }}</p>
                    <p ng-if="event.price == 0">Preço: DE GRAÇA</p>
	                <p>Local: {{ event.local }}</p>
	                <br />
					<p>{{ event.shortDescription }}</p>                
	            </div>
	            <div class="card-action" style="text-align: right;">
	                <a class="waves-effect waves-light btn red" ng-href="#/event/title/{{ event.urlTitle }}">Ver mais</a>
	            </div>
	        </div>

        </div>

        <div class="col s4">

		  	<div>
		    	<h5 class="right-align"><i class="material-icons red-text">add</i> {{ eventsByWord.length }}</h5>
		  	</div>
		  
            <div ng-include="'views/index/component/filtros.html'"></div>

            <div ng-include="'views/index/component/bannerTopEventos.html'"></div>
                
            <br/>
            
            <div class="divider"></div>
            
            <br/>
            
			<div ng-include="'views/index/component/topEventosPage.html'"></div>

        </div>
    </div>
</div>

<div ng-include="'views/index/footer.html'"></div>