<meta charset="UTF-8" />
<div class="container">
    <div class="row">

        <div class="col s8">

     	    <nav style="margin-top: 8px">
		    	<div class="nav-wrapper blue">
	        		<div class="col s12">
			        	<a href="#/" class="breadcrumb">Home</a>
			        	<a href="" class="breadcrumb">Busca</a>
		      		</div>
		    	</div>
		    </nav>

	        <div class="card hoverable" ng-repeat="event in eventsByWord">
	            <div class="card-image">
	                <img ng-src="{{ event.imageUrl }}">
	                <span class="card-title blue">
	                    <h5>{{ event.title }}</h5> 
	                </span>
	            </div>
	            <div class="card-content">
	            	<p>Publicado por <a ng-href="#/{{ event.company.nameUrl }}">{{ event.company.name }}</a></p>
	            	<p>Data: {{ event.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</p>
                    <p ng-if="event.price > 0">Preço: R${{ event.price }}</p>
                    <p ng-if="event.price == 0">Preço: DE GRAÇA</p>
	                <p>Local: {{ event.local }}</p>
	                <br />
					<p>{{ event.shortDescription }}</p>                
	            </div>
	            <div class="card-action" style="text-align: right;">
	                <a class="waves-effect waves-light btn orange" ng-href="#/event/title/{{ event.urlTitle }}">Ver mais</a>
	            </div>
	        </div>

        </div>

        <div class="col s4">

            <div class="card blue">
                <div class="card-content white-text">

                    <span class="card-title"><h5>Filtros</h5></span>

                    <div class="row">

                        <div class="input-field col s12">
                            <input id="keyword" type="text" class="validate">
                            <label for="keyword">Palavra chave</label>
                        </div>

                        <div class="input-field col s12">
                            <input id="keyword" type="text" class="validate">
                            <label for="keyword">Cidade</label>
                        </div>

                        <div class="input-field col s12">   
                            Preço                     
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Mínimo" type="number" class="validate">
                        </div>
                        <div class="input-field col s6">
                            <input placeholder="Máximo" type="number" class="validate">
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">date_range</i>
                            <label for="inputCreated">Data do Evento</label>
                            
                            <input input-date
                                type="text"
                                name="created"
                                id="inputCreated"
                                ng-model="currentTime"
                                container=""
                                format="dd/mm/yyyy"
                                months-full="{{ month }}"
                                months-short="{{ monthShort }}"
                                weekdays-full="{{ weekdaysFull }}"
                                weekdays-short="{{ weekdaysShort }}"
                                weekdays-letter="{{ weekdaysLetter }}"
                                disable="disable"
                                min="{{ minDate }}"
                                max="{{ maxDate }}"
                                today="today"
                                first-day="1"
                                clear="clear"
                                close="close"
                                select-years="15"
                                on-start="onStart()"
                                on-render="onRender()"
                                on-open="onOpen()"
                                on-close="onClose()"
                                on-set="onSet()"
                                on-stop="onStop()" />
                        </div>

                    </div>
                </div>
                <div class="card-action" style="text-align: right">
                    <a class="waves-effect waves-light btn orange" href="">Filtrar</a>
                </div>
            </div>

            <div ng-include="'views/index/component/bannerTopEventos.html'"></div>
                
            <br/>
            
            <div class="divider"></div>
            
            <br/>
            
			<div ng-include="'views/index/component/topEventosPage.html'"></div>

        </div>
    </div>
</div>

<div ng-include="'views/index/footer.html'"></div>