<meta charset="UTF-8" />
<div ng-include="'views/index/navbar.html'"></div>

<div class="container">
    <div class="row">

        <div class="col s8">

            <div class="card hoverable">
                <div class="card-image">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbK4KTbNtRe6Pu-c8h_y2CA-fyech2z_PVsiupWi9QeLoUQdisAA">
                    <span class="card-title" style="background-color: #009DC1">
                        Show do Martin Garrix
                    </span>
                </div>
                <div class="card-content">
                    <p>Descrição Curta</p>
                    <p>"Venha curtir as melhores músicas eletronicas do mundo ao som de Martin Garrix."</p>
                    <br />
                    <p>Descrição Detalhada</p>
                    <p>"Venha curtir as melhores músicas eletronicas do mundo ao som de Martin Garrix."</p>
                    <br />
                    <p>Data do Evento 02/12/2017 as 20:00</p>
                    <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
                    <br />
                    <p>Entrar em contato com João Marques (Se habilitou para aparecer)</p>
                    <p>Celular: 99876542</p>
                    <p>Email: joao@hotmail.com</p>
                    <br />
                    <p>Preços</p>
                    <p>1º Lote: R$25,00</p>
                    <p>2º Lote: R$50,00</p>
                    <p>3º Lote: R$75,00</p>
                    <p>Obs.: Na hora será cobrado R$150,00</p>
                </div>
                <div class="card-action" style="text-align: right">
                    <a class="waves-effect waves-light btn orange"><i class="material-icons left">check</i>Marcar Presença</a>
                </div>
            </div>

        </div>

        <div class="col s4" style="margin-top: 8px">

            <div ng-include="'views/index/component/bannerTopEventos.html'"></div>

            <ul class="collection with-header">
                <li class="collection-header" style="background-color: #009DC1"><h4 style="color: white; text-align: center">Eventos mais esperados</h4></li>
                <li class="collection-item">

                    <div class="row">

                        <div class="col s12">
                    
                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbK4KTbNtRe6Pu-c8h_y2CA-fyech2z_PVsiupWi9QeLoUQdisAA">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Show do Martin Garrix<i class="material-icons right">more_vert</i></span>
                                    <p><a href="#/">Ver mais</a></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Show do Martin Garrix<i class="material-icons right">close</i></span>
                                    <p>Data do Evento 02/12/2017 as 20:00</p>
                                    <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
                                    <p>"Venha curtir as melhores músicas eletronicas do mundo ao som de Martin Garrix."</p>
                                    <p><a href="#/">Ver mais</a></p>
                                </div>
                            </div>

                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwY8K_o8JHjHVfNGF7DhfWG7dnck0afSpNwBgYrIhN3FhPZtMS">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">Show do Skrillex<i class="material-icons right">more_vert</i></span>
                                    <p><a href="#/">Ver mais</a></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">Show do Skrillex<i class="material-icons right">close</i></span>
                                    <p>Data do Evento 02/12/2017 as 20:00</p>
                                    <p>Local do Evento Pavilhão Azul no Parque de exposição</p>
                                    <p>"Venha curtir as melhores músicas eletronicas do mundo ao som de Skrillex."</p>
                                    <p><a href="#/">Ver mais</a></p>
                                </div>
                            </div>


                            <div class="card hoverable">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <img class="activator" src="http://shipit.resultadosdigitais.com.br/images/posts/tdc-logo-post.png">
                                </div>
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">The Developer's Conference<i class="material-icons right">more_vert</i></span>
                                    <p><a href="#/">Ver mais</a></p>
                                </div>
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">The Developer's Conference<i class="material-icons right">close</i></span>
                                    <p>Data do Evento 01/01/2017 as 08:00</p>
                                    <p>Local do Evento Faculdade FCV</p>
                                    <p>"Venha participar da The Developer's Conference, temos 24 Trilhas com 10 paslestras e mais de 100 especialistas!"</p>
                                    <p><a href="#/">Ver mais</a></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </li>
            </ul>

        </div>

    </div>
</div>

<div ng-include="'views/index/footer.html'"></div>