<meta charset="UTF-8" />
<div class="container">
    <div class="row">

        <div class="col s8">
        
      	     <nav style="margin-top: 8px">
		    	<div class="nav-wrapper">
	        		<div class="col s12">
			        	<a href="#!" class="breadcrumb">Home</a>
			        	<a ng-href="#/category/{{ eventByUrl.category.urlName }}" class="breadcrumb">{{ eventByUrl.category.name }}</a>
			        	<a href="" class="breadcrumb">Event</a>
		      		</div>
		    	</div>
		    </nav>

            <div class="card hoverable">
                <div class="card-image">
                    <img materialboxed class="materialboxed responsive-img" ng-src="{{ eventByUrl.imageUrl }}" alt="">
                    <span class="card-title" style="background-color: #009DC1">
                        {{ eventByUrl.title }}
                    </span>
                </div>
                <div class="card-content">
                    <p>Data: {{ eventByUrl.eventDate | date }}</p>                    
                    <p>Preço: {{ eventByUrl.price }}</p>
                    <p>Local: {{ eventByUrl.local }}</p>
                    <p>Cidade: {{ eventByUrl.city }}</p>
                    <p>Estado: {{ eventByUrl.state }}</p>
                    <br />
                    <p>Categoria: {{ eventByUrl.category.name }}</p>
                    <p>Palavra Chave: {{ eventByUrl.keyword }}</p>
                    <p>Quantidade estimada de pessoas: {{ eventByUrl.peopleEstimate }}</p>
                    <br />
					<p>Descrição Curta</p>
                    <p>{{ eventByUrl.shortDescription }}</p>
                    <br />
                    <p>Descrição Detalhada</p>
                    <p>{{ eventByUrl.completeDescription }}</p>
                    <br />
                    <p ng-if="eventByUrl.showCompany == true || eventByUrl.showPhoneNumber == true || eventByUrl.showEmail == true">Contato</p>
                    <p ng-if="eventByUrl.showCompany == true || eventByUrl.showPhoneNumber == true || eventByUrl.showEmail == true">Nome: {{ eventByUrl.user.name }}</p>
                    <p ng-if="eventByUrl.showCompany == true">Empresa: {{ eventByUrl.user.company }}</p>
                    <p ng-if="eventByUrl.showCompany == true">Cargo: {{ eventByUrl.user.jobInCompany }}</p>
                    <p ng-if="eventByUrl.showPhoneNumber == true">Celular: {{ eventByUrl.user.phoneNumber }}</p>
                    <p ng-if="eventByUrl.showEmail == true">Email: {{ eventByUrl.user.contactEmail }}</p>
                </div>
                <div class="card-action" style="text-align: right">
                    <a class="waves-effect waves-light btn orange"><i class="material-icons left">check</i>Marcar Presença</a>
                </div>
            </div>

        </div>

        <div class="col s4" style="margin-top: 8px">

            <div ng-include="'views/index/component/bannerTopEventos.html'"></div>
                
            <br/>
            
            <div class="divider"></div>
            
            <br/>
            
            <div class="card-panel blue white-text">
                <h5 class="center-align">Eventos mais esperados</h5>
            </div>
                    
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#/event/nomedoevento"><img class="activator" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbK4KTbNtRe6Pu-c8h_y2CA-fyech2z_PVsiupWi9QeLoUQdisAA"></a>
                </div>
                <div class="card-content">
                    <a class="card-title activator grey-text text-darken-4" href="#/event/nomedoevento"><strong>Show do Martin Garrix</strong></a>
                        <p><h6>Data: 02/12/2017 as 20:00</h6></p>
                    <p><h6>Valor: R$20,00</h6></p>
                    <p>Local: Pavilhão Azul no Parque de exposição</p>
                    <br />
                    <p style="text-align: right"><a class="waves-effect waves-light btn orange" href="#/event/nomedoevento">Ver mais</a></p>
                </div>
            </div>
                    
            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#/event/nomedoevento"><img class="activator" src="http://shipit.resultadosdigitais.com.br/images/posts/tdc-logo-post.png"></a>
                </div>
                <div class="card-content">
                    <a class="card-title activator grey-text text-darken-4" href="#/event/nomedoevento"><strong>The Developer's Conference</strong></a>
                        <p><h6>Data: 02/12/2017 as 20:00</h6></p>
                    <p><h6>Valor: R$20,00</h6></p>
                    <p>Local: Pavilhão Azul no Parque de exposição</p>
                    <br />
                    <p style="text-align: right"><a class="waves-effect waves-light btn orange" href="#/event/nomedoevento">Ver mais</a></p>
                </div>
            </div>

            <div class="card hoverable">
                <div class="card-image waves-effect waves-block waves-light">
                    <a href="#/event/nomedoevento"><img class="activator" src="http://www.paulomarquesnoticias.com.br/informativos/ima_informativos/1399404153_46.jpg"></a>
                </div>
                <div class="card-content">
                    <a class="card-title activator grey-text text-darken-4" href="#/event/nomedoevento"><strong>Balada The Nigth Glow</strong></a>
                        <p><h6>Data: 02/12/2017 as 20:00</h6></p>
                    <p><h6>Valor: R$20,00</h6></p>
                    <p>Local: Pavilhão Azul no Parque de exposição</p>
                    <br />
                    <p style="text-align: right"><a class="waves-effect waves-light btn orange" href="#/event/nomedoevento">Ver mais</a></p>
                </div>
            </div>

        </div>

    </div>
</div>

<div ng-include="'views/index/footer.html'"></div>