<meta charset="UTF-8" />
<div class="container">
    <div class="row">

        <div class="col s8">
        
      	     <nav style="margin-top: 10px">
		    	<div class="nav-wrapper">
	        		<div class="col s12">
			        	<a href="#!" class="breadcrumb">Home</a>
			        	<a ng-href="#/category/{{ eventByUrl.category.urlName }}" class="breadcrumb">{{ eventByUrl.category.name }}</a>
			        	<a href="" class="breadcrumb">Event</a>
		      		</div>
		    	</div>
		    </nav>

            <div class="card hoverable">
                <div class="card-image">
                    <img materialboxed class="materialboxed responsive-img" ng-src="{{ eventByUrl.imageUrl }}" alt="">
                    <span class="card-title" style="background-color: #009DC1">
                        {{ eventByUrl.title }}
                    </span>
                </div>
                <div class="card-content">
                    <p>Data: {{ eventByUrl.eventDate | date }}</p>                    
                    <p>Preço: {{ eventByUrl.price }}</p>
                    <p>Local: {{ eventByUrl.local }}</p>
                    <p>Cidade: {{ eventByUrl.city }}</p>
                    <p>Estado: {{ eventByUrl.state }}</p>
                    <br />
                    <p>Categoria: {{ eventByUrl.category.name }}</p>
                    <p>Palavra Chave: {{ eventByUrl.keyword }}</p>
                    <p>Quantidade estimada de pessoas: {{ eventByUrl.peopleEstimate }}</p>
                    <br />
					<p>Descrição Curta</p>
                    <p>{{ eventByUrl.shortDescription }}</p>
                    <br />
                    <p>Descrição Detalhada</p>
                    <p>{{ eventByUrl.completeDescription }}</p>
                    <br />
                    <p>Empresa</p>
                    <p><a ng-href="#/company/profile/{{ eventByUrl.company.nameUrl }}">{{ eventByUrl.company.name }}</a></p>
                    <p ng-if="event.showPhoneNumber == true">Celular: {{ eventByUrl.company.cellPhoneNumber }}</p>
                    <p ng-if="event.showPhoneNumber == true">Telefone: {{ eventByUrl.company.phoneNumber }}</p>
                    <p ng-if="event.showEmail == true">Email: {{ eventByUrl.company.contactEmail }}</p>
                </div>
                <div class="card-action" style="text-align: right">
                    <a class="waves-effect waves-light btn orange"><i class="material-icons left">check</i>Marcar Presença</a>
                </div>
            </div>

        </div>

        <div class="col s4" style="margin-top: 10px">

            <div ng-include="'views/index/component/bannerTopEventos.html'"></div>
                
            <br/>
            
            <div class="divider"></div>
            
            <br/>
            
       		<div ng-include="'views/index/component/topEventosPage.html'"></div>

        </div>

    </div>
</div>

<div ng-include="'views/index/footer.html'"></div>