<meta charset="UTF-8" />
<footer class="page-footer footer-down blue">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text font-bold">QUEM SOMOS</h5>
                <p class="grey-text text-lighten-4">Somos o "Quero Evento", site para busca de eventos que vão acontecer em sua cidade.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text font-bold">REDES SOCIAIS</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#/">Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/">Twitter</a></li>
                </ul>
            </div>
             <div class="col l6 s12">
                <h5 class="white-text font-bold">DIVULGUE SEUS EVENTOS</h5>
                <p class="grey-text text-lighten-4">Para divulgar seus eventos basta se inscrever em nosso site e criar seus eventos!</p>
                <a href="#/login" class="waves-effect orange waves-light btn">Inscrever-se</a>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text font-bold">JÁ É INSCRITO?</h5>
                <p class="grey-text text-lighten-4">Entre em sua conta e divulgue seus eventos!</p>
                <a href="#/login" class="waves-effect orange waves-light btn">Entrar</a>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Desde 2017
        </div>
    </div>
</footer>