<div class="navbar-fixed">
    <nav>
        <div class="container">
            <div class="nav-wrapper">
            <a href="#/" class="brand-logo"><img style="margin-top: 15px" src="images/navlogo.png" alt="Logo"></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#/">Top Eventos</a></li>
                <li><a href="#/">Categorias</a></li>
                <li>
                    <a class='dropdown-button orange btn' href='#/' data-activates='demoDropdown' dropdown>
                        Acessar
                    </a>

                    <ul id='demoDropdown' class='dropdown-content'>
                        <li><a href="#/">Entrar</a></li>
                        <li><a href="#/">Inscrever-se</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</div>