<meta charset="UTF-8" />
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper white">
            <div class="container">
            	<div class="col s2">
                    <a href="#/" class="brand-logo"><img style="margin-top: 15px" src="images/navlogo.png" alt="Logo"></a>
                </div>
                <div class="col s12">
                    <ul class="right hide-on-med-and-down">
                        
                        <li>
                            <div class="input-field" style="margin-right: 5px">
                                <i class="material-icons prefix">search</i>
                                <input class="black-text" id="icon_prefix" ng-keyup="getEventsByWord()" ng-enter="getEventsByWord()" ng-model="search.word" placeholder="Onde você quer ir?" type="text">
                            </div>
                        </li>
                    
                        <li>
                            <a class="font-bold" href="" ng-controller="loginCtrl" ng-click="openLogin()">
                                Publicar
                            </a>
                        </li>
                    </ul>
            	</div>
            	<div class="col s2">
	                <a href="#" class="red" id="button-collapse" data-closeonclick="false" data-activates="slide-out" data-sidenav="left" data-menuwidth="300">
	                	<i class="material-icons" style="color: #BF120E">menu</i>
	                </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<ul id="slide-out" class="side-nav full">
    <ul collapsible collapsible-accordion>

        <li class="logo center-align">
            <img style="margin-top: 15px" src="images/navlogo.png" alt="Logo">
        </li>
        
        <li><a href="#/" class="collapsible-header waves-effect waves-red"><i class="material-icons">home</i>HOME</a></li>
        <li><div  class="divider"></div></li>
        <li><a ng-href="#/category/{{ category.urlName }}" class="collapsible-header waves-effect waves-red" ng-repeat="category in categories">{{ category.name | uppercase }}</a></li>
        <li><div  class="divider"></div></li>
        <li><a href="" ng-click="openLogin()" class="collapsible-header waves-effect waves-red"><i class="material-icons">cloud_upload</i>PUBLICAR EVENTO</a></li>
    </ul>
</ul>