<meta charset="UTF-8" />
<div class="container">
    <div class="row">

        <div class="col s8">

     	    <nav style="margin-top: 8px">
		    	<div class="nav-wrapper blue">
	        		<div class="col s12">
			        	<a href="#/" class="breadcrumb font-bold">HOME</a>
			        	<a href="" class="breadcrumb font-bold">PERFIL</a>
		      		</div>
		    	</div>
		    </nav>

	        <div class="card hoverable" ng-repeat="event in eventsByCompany">
	            <div class="card-image">
	                <img materialboxed class="materialboxed responsive-img" alt="" ng-src="{{ event.imageUrl }}">
	                <span class="card-title blue">
	                    <h5 class="font-bold">{{ event.title }}</h5> 
	                </span>
	            </div>
	            <div class="card-content">
	            	<p>Data: {{ event.eventDate | date:"dd/MM/yyyy 'às' HH:mm" }}</p>
                    <p ng-if="event.price > 0">Preço: R${{ event.price }}</p>
                    <p ng-if="event.price == 0">Preço: DE GRAÇA</p>
	                <p>Local: {{ event.local }}</p>
	                <br />
					<p>{{ event.shortDescription }}</p>                
	            </div>
	            <div class="card-action" style="text-align: right;">
	                <a class="waves-effect waves-light btn orange" ng-href="#/event/title/{{ event.urlTitle }}">Ver mais</a>
	            </div>
	        </div>

        </div>

        <div class="col s4">
        
         	<div class="card blue">
                <div class="card-content white-text">
                	<img ng-if="company.imageUrl != null" class="responsive-img" ng-src="{{ company.imageUrl }}">
                    <span class="card-title"><h5 class="font-bold">{{ company.name }}</h5></span>
                    <br>
                    <p ng-if="company.phoneNumber != null">Celular: {{ company.phoneNumber }}</p>
	            	<p ng-if="company.cellPhoneNumber != null">Telefone: {{ company.cellPhoneNumber }}</p>
	                <p ng-if="company.contactEmail != null">Email: {{ company.contactEmail }}</p>
	                <br ng-if="eventsByCompany.length > 1">
	                <p ng-if="eventsByCompany.length > 1">{{ eventsByCompany.length }} Publicações</p>
                </div>
            </div>

            <div ng-include="'views/index/component/bannerTopEventos.html'"></div>
                
            <br/>
            
            <div class="divider"></div>
            
            <br/>
            
			<div ng-include="'views/index/component/topEventosPage.html'"></div>

        </div>
    </div>
</div>

<div ng-include="'views/index/footer.html'"></div>