<footer class="page-footer footer-down">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Quem somos</h5>
                <p class="grey-text text-lighten-4">Somos o Event, site para busca de eventos que vão acontecer em sua cidade.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Redes Sociais</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#/">Facebook</a></li>
                    <li><a class="grey-text text-lighten-3" href="#/">Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Desde 2017
        </div>
    </div>
</footer>